In [1]:
import numpy as np
import pandas as pd
from utils.diff import diff

In [2]:
# 11. cfp
# 季度频率。营运现金流除以季度末市值。

# 12. cfp_ia
# 季度频率。经行业调整后的营运现金流。调整方法与bm_ia类似。

df1 = pd.read_csv('../../data/csmar/季_现金流量表(直接法).csv', usecols=['证券代码', '会计期间', '经营活动产生的现金流量净额'], low_memory=False)
df2 = pd.read_csv('../../data/csmar/季_相对价值指标.csv', usecols=['证券代码', '会计期间', '市值A'])
df3 = pd.merge(df1, df2, on=['证券代码', '会计期间'], how='left')
df3 = diff(df3, col=['经营活动产生的现金流量净额'])
df3['cfp'] = df3['经营活动产生的现金流量净额']/df3['市值A'].replace(0, np.nan)
df4 = pd.read_csv('../data/公司文件.csv', usecols=['证券代码', '行业代码C'])
df5 = pd.merge(df3, df4, on=['证券代码'], how='left')
df6 = df5[['行业代码C', '会计期间', 'cfp']].groupby(['行业代码C', '会计期间']).mean().reset_index()
df6.rename(columns={'cfp':'cfp_i'}, inplace=True)
df7 = pd.merge(df5, df6, on=['行业代码C', '会计期间'], how='left')
df7['cfp_ia'] = df7['cfp'] - df7['cfp_i']
df8 = df7[['证券代码', '会计期间', 'cfp', 'cfp_ia']]
df8.to_csv('../../output/csmar/季_11_12.csv', index=False, encoding='utf-8-sig')
df8

          证券代码        会计期间       cfp    cfp_ia
0            1  1990-03-31       NaN       NaN
1            1  1990-06-30       NaN       NaN
2            1  1990-09-30       NaN       NaN
3            1  1990-12-31       NaN       NaN
4            1  1991-03-31       NaN       NaN
...        ...         ...       ...       ...
728835  900957  2022-03-31 -0.001496  0.009072
728836  900957  2022-06-30  0.004725 -0.003433
728837  900957  2022-09-30  0.007599  0.006356
728838  900957  2022-12-31  0.040841  0.021717
728839  900957  2023-03-31 -0.003322  0.001186

[728840 rows x 4 columns]