In [1]:
import pandas as pd

In [2]:
# 06. bm
# 季度频率。账面市值比，等于权益的账面价值除以市值。

# 07. bm_ia
# 季度频率。经行业调整的账面市值比。

df1 = pd.read_csv('../../data/csmar/季_相对价值指标.csv', usecols=['证券代码', '会计期间', '账面市值比A'])
df1.rename({'账面市值比A':'bm'}, axis='columns', inplace=True)
df2 = pd.read_csv('../../data/csmar/公司文件.csv')[['证券代码', '行业代码C']]
df3 = pd.merge(df1, df2, on=['证券代码'], how='left')
df4 = df3[['行业代码C', '会计期间', 'bm']].groupby(['行业代码C', '会计期间']).mean().reset_index()
df4.rename(columns={'bm':'bm_i'}, inplace=True)
df5 = pd.merge(df3, df4, on=['行业代码C', '会计期间'], how='left')
df5['bm_ia'] = df5['bm'] - df5['bm_i']
df6 = df5[['证券代码', '会计期间', 'bm', 'bm_ia']]
df6.to_csv('../../output/csmar/季_6_7.csv', index=False, encoding='utf-8-sig')
df6

          证券代码        会计期间        bm     bm_ia
0            1  1990-03-31       NaN       NaN
1            1  1990-06-30       NaN       NaN
2            1  1990-09-30       NaN       NaN
3            1  1990-12-31       NaN       NaN
4            1  1991-03-31       NaN       NaN
...        ...         ...       ...       ...
728835  900957  2022-03-31  0.727740 -0.175951
728836  900957  2022-06-30  0.699359 -0.252758
728837  900957  2022-09-30  0.689721 -0.291303
728838  900957  2022-12-31  0.715587 -0.231385
728839  900957  2023-03-31  0.746778 -0.207461

[728840 rows x 4 columns]