In [1]:
import pandas as pd

In [2]:
# 08. cash
# 季度频率。现金及现金等价物除以平均总资产。

# 83. tang
# 季度频率。现金持有 + 0.715 * 应收项目 + 0.547 * 存货 + 0.535 * 固定资产

df1 = pd.read_csv('../../data/csmar/季_资产负债表.csv', usecols=['证券代码', '会计期间', '现金及存放中央银行款项', '应收账款净额', '存货净额', '固定资产净额', '资产总计', '查询成功'], low_memory=False)
df1['现金及存放中央银行款项'][df1['查询成功'].astype('bool')] = df1['现金及存放中央银行款项'][df1['查询成功'].astype('bool')].fillna(0)
df1['tang'] = df1['现金及存放中央银行款项'] + 0.715*df1['应收账款净额'] + 0.547*df1['存货净额'] + 0.535*df1['固定资产净额']
df1['cash'] = df1['现金及存放中央银行款项']/df1['资产总计']
df2 = df1[['证券代码', '会计期间', 'cash', 'tang']]
df2.to_csv('../../output/csmar/季_8_83.csv', index=False, encoding='utf-8-sig')
df2

          证券代码        会计期间  cash  tang
0            1  1990-03-31   NaN   NaN
1            1  1990-06-30   NaN   NaN
2            1  1990-09-30   NaN   NaN
3            1  1990-12-31   0.0   NaN
4            1  1991-03-31   NaN   NaN
...        ...         ...   ...   ...
728835  900957  2022-03-31   0.0   NaN
728836  900957  2022-06-30   0.0   NaN
728837  900957  2022-09-30   0.0   NaN
728838  900957  2022-12-31   0.0   NaN
728839  900957  2023-03-31   0.0   NaN

[728840 rows x 4 columns]