In [1]:
import numpy as np
import pandas as pd
from utils.diff import diff

In [2]:
df1 = pd.read_csv('../../data/csmar/季_资产负债表.csv', usecols=['证券代码', '会计期间', '存货净额'], low_memory=False)
df2 = pd.read_csv('../../data/csmar/季_利润表.csv', usecols=['证券代码', '会计期间', '营业收入'])
df3 = pd.merge(df1, df2, on=['证券代码', '会计期间'], how='left')
df3 = diff(df3, col=['营业收入'])

# 75.  saleinv
# 季度频率。季度销售额除以总库存。
df3['saleinv'] = df3['营业收入']/df3['存货净额'].replace(0, np.nan)

# 59.  pchsaleinv
# 季度频率。销售库存比的季度百分比变化。
df3['pchsaleinv'] = (df3['saleinv'] - df3.groupby('证券代码').shift(1)['saleinv'])/df3.groupby('证券代码').shift(1)['saleinv'].replace(0, np.nan)

df4 = df3[['证券代码', '会计期间', 'pchsaleinv', 'saleinv']]
df4.to_csv('../../output/csmar/季_59_75.csv', index=False, encoding='utf-8-sig')
df4

          证券代码        会计期间  pchsaleinv  saleinv
0            1  1990-03-31         NaN      NaN
1            1  1990-06-30         NaN      NaN
2            1  1990-09-30         NaN      NaN
3            1  1990-12-31         NaN      NaN
4            1  1991-03-31         NaN      NaN
...        ...         ...         ...      ...
728835  900957  2022-03-31         NaN      NaN
728836  900957  2022-06-30         NaN      NaN
728837  900957  2022-09-30         NaN      NaN
728838  900957  2022-12-31         NaN      NaN
728839  900957  2023-03-31         NaN      NaN

[728840 rows x 4 columns]