In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../../data/csmar/月_月收益Beta表(48个月滚动).csv', usecols=['证券代码', '交易月份', '分市场月Beta值'])
df2 = df1.rename(columns={'分市场月Beta值': 'beta'})
df2['betasq'] = df2['beta']**2
df2.to_csv('../../output/csmar/月_4_5.csv', index=False, encoding='utf-8-sig')
df2

           证券代码        交易月份  beta  betasq
0             1  1990-01-31   NaN     NaN
1             1  1990-02-28   NaN     NaN
2             1  1990-03-31   NaN     NaN
3             1  1990-04-30   NaN     NaN
4             1  1990-05-31   NaN     NaN
...         ...         ...   ...     ...
2197475  900957  2023-01-31   NaN     NaN
2197476  900957  2023-02-28   NaN     NaN
2197477  900957  2023-03-31   NaN     NaN
2197478  900957  2023-04-30   NaN     NaN
2197479  900957  2023-05-31   NaN     NaN

[2197480 rows x 4 columns]