In [1]:
import numpy as np
import pandas as pd

In [2]:
mon_lst = []
for y in range(1990, 2024):
    for m in ['01-31', '02-29' if (y % 4 == 0 and y % 100 != 0) or (y % 400 == 0) else '02-28', '03-31', '04-30', '05-31', '06-30', '07-31', '08-31', '09-30', '10-31', '11-30', '12-31']:
        mon_lst.append(f'{y}-{m}')
mon_df = pd.DataFrame(mon_lst[:-7], columns=['交易月份'])
mon_df['月份'] = mon_df['交易月份'].apply(lambda x: x[:7])
stk_df = pd.read_csv('../../data/csmar/公司文件.csv')
stk_df['on'] = 0
mon_df['on'] = 0
header = pd.merge(stk_df, mon_df, on=['on'], how='left')[['证券代码', '交易月份', '月份']]

In [3]:
# 36. ill
# 月频率。第t月的日平均“绝对收益/交易量”。

df1 = pd.read_csv('../../data/csmar/日_日个股回报率文件.csv', usecols=['证券代码', '交易日期', '不考虑现金红利的日个股回报率', '日个股交易金额'])
df1 = df1.sort_values(by=['证券代码', '交易日期'])
df1['月份'] = df1['交易日期'].apply(lambda x: x[:7])
df1['ill'] = df1['不考虑现金红利的日个股回报率'].abs()/df1['日个股交易金额'].replace(0, np.nan)
df2 = df1[['证券代码', '月份', 'ill']].groupby(['证券代码', '月份']).mean().reset_index()
df3 = pd.merge(header, df2, on=['证券代码', '月份'], how='left')
df4 = df3[['证券代码', '交易月份', 'ill']]
df4.to_csv('../../output/csmar/月_36.csv', index=False, encoding='utf-8-sig')
df4

           证券代码        交易月份           ill
0             1  1990-01-31           NaN
1             1  1990-02-28           NaN
2             1  1990-03-31           NaN
3             1  1990-04-30           NaN
4             1  1990-05-31           NaN
...         ...         ...           ...
2197475  900957  2023-01-31  5.655049e-08
2197476  900957  2023-02-28  9.025837e-08
2197477  900957  2023-03-31  1.337419e-07
2197478  900957  2023-04-30  1.078862e-07
2197479  900957  2023-05-31  2.235430e-07

[2197480 rows x 3 columns]